{%- liquid
  assign all_cards = 'all'

-%}
<div style="width:100%">
  <div style="width:80%">
    <ul
      id="product-grid"
      data-id="{{ section.id }}"
      style="display:flex;justify-content: center; flex-wrap: wrap">
      {%- for product in collections[all_cards].products -%}
        <div>
          {% render 'card-whislist', card_product: product %}
        </div>
      {% endfor %}
    </ul>
  </div>
  <div style="width:20%"></div>

</div>