.background-list_productspipe{
   
    display:flex;
    flex-direction:column;
    border:1px solid gray;
    text-align:center
}
.all-products{
    display:flex;
    justify-content: center;
    
    flex-wrap: wrap;
    
}
.button-color{
    background:black;
    color:white
}
.total-variants{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:5px
}
.total-variant-violeta{
background:#8F00FF;
color:#8F00FF
}
.total-variant-menta{
background:#497e76 ;
color:#497e76
}
.total-variant-azul{
background:blue ;
color:blue 
}
.total-variant-cafe{
background:#6F4E37;
color:#6F4E37
}
.total-variant-white{
background:#ffff;
color:#ffff
}
.total-variant-gris{
background:gray ;
color:gray 
}
.total-variant-rojo{
background:red ;
color:red 
}
.total-variant-negro{
background:black ;
color:black 
}
.total-variant-lila{
background:#C8A2C8;
color:#C8A2C8
}
.total-variant-verde{
background:green;
color:green;

}
.total-variant{
   border-radius:30px;
   margin:2px;
   border:1px solid black;
   width:30px;
   height:30px;cursor: pointer !important;
}
.aparecerimagen{
    display:block
}
.desaparecerimagen{
    display:none
}